*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.nav-link:hover{
    color: white;
    background-color: black;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
}


.banner-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.about img{
    box-shadow: rgba(47, 53, 59, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) 6px 2px 16px 0px;
}

.banner-img::after{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-bottom: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
    right: -40px;
    bottom: -40px;
}

.banner-img::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-top: 10px solid #ffffff;
    border-left: 10px solid #ffffff;
    left: -40px;
    top: -40px;
}

.progress{
    background-color: rgb(223, 219, 219);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
}

.pro-value1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: rgb(109, 75, 10);
    height: 25px;
    width: 0;
}

.progress p{
    color: white;
    padding: 4px;
}

.pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: rgb(71, 16, 71);
    height: 25px;
    width: 0;
}

.pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: rgb(193, 76, 34);
    height: 25px;
    width: 0;
}

.pro-value4{
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: rgb(49, 49, 142);
    height: 25px;
    width: 0;
}

.progress span{
    float: right;
}


@keyframes load1{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}

@keyframes load2{
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}

@keyframes load3{
    0%{
        width: 0;
    }
    100%{
        width: 30%;
    }
}

@keyframes load4{
    0%{
        width: 0;
    }
    100%{
        width: 45%;
    }
}

.form-label{
    font-size: 20px;
    font-weight: 700;
}

.btn1 input{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: rgb(223, 132, 6);
    color: #ffffff;
}

.btn1 input:hover{
    background-color: rgb(178, 114, 11);
}

footer p{
    font-size: 20px;
}